/* If you need to add @import statements, do so up here */

@import "jit-refresh.css"; /* triggers frontend rebuilds */

/* Set up Tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

  /* Define your root color theme here using Tailwind named colors
  /* - Use this in future iterations? Need to use scss.
  ===================================================================*/

  :root {
    --color-bg:         theme('colors.white');
    --color-well:       theme('colors.kra2.dblue.100');

    --color-border:     theme('colors.kra2.dblue.300');

    --color-primary:    theme('colors.kra2.neutral.700');
    --color-secondary:  theme('colors.kra2.dblue.300');
    --color-accent:     theme('colors.kra2.blue.DEFAULT');
    --color-highlight:  theme('colors.kra2.red.DEFAULT');

    --color-error:      theme('colors.kra2.red.DEFAULT');
    --color-alert:      theme('colors.white');
    --color-info:       theme('colors.kra2.blue.100');
    --color-success:    theme('colors.kra2.success.DEFAULT');
  }
}


/* open-sans-regular - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('/fonts/open-sans-v34-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/open-sans-v34-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('/fonts/open-sans-v34-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/open-sans-v34-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('/fonts/open-sans-v34-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/open-sans-v34-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* open-sans-700italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local(''),
       url('/fonts/open-sans-v34-latin-600italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/open-sans-v34-latin-600italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


@font-face {
  font-family: "VF Sans";
  src:
    url("/fonts/VFSans-Reg.woff2") format("woff2"),
    url("/fonts/VFSans-Reg.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "VF Sans";
  src:
    url("/fonts/VFSans-Bold.woff2") format("woff2"),
    url("/fonts/VFSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "VF Sans";
  src:
    url("/fonts/VFSans-Oblique.woff2") format("woff2"),
    url("/fonts/VFSans-Oblique.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "VF Sans";
  src:
    url("/fonts/VFSans-BoldOblique.woff2") format("woff2"),
    url("/fonts/VFSans-BoldOblique.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
