<div class="m-auto w-[840px] grid gap-0 grid-cols-3 justify-items-center content-center">
  <% grid_items.each do |item| %>
    <div class="relative w-[280px] h-[157px] grid grid-col-1 justify-items-center
                  content-center text-white bg-cover"
         style="background-image: url('<%= item.hero.url %>')" >
     <div class="absolute inset-0 bg-black opacity-50"></div>
     <span class="z-10"><%= item.title %></span>
    </div>
  <% end %>
</div>
