<div class="grid grid-col-1 gap-4 justify-items-center">
  <h4 class="text-3xl"> <%= resource.title %> </h4>
  <hr class="m-auto border-none w-[68px] h-2 bg-kra-darkred"></hr>
  <div class="w-2/3"><%= resource.abstract %></div>
</div>

<%= render component_from_dato(grid_block) %>
