<div class="mt-8 pb-4 mb-16 border-b flex gap-x-4">
  <div class="font-bold"><%= resource.title %></div>
  <% if sub_title? %>
    <span class="text-kra-blue">&gt;</span>
    <span class="text-kra-darkblue-lighter"><%= resource.sub_title %></span>
  <% end %>
</div>
