<a class="w-40 flex flex-col pt-3 my-6 border-t-2 border-kra-darkblue-lighter text-kra-darkblue-lighter hover:text-kra-darkblue-light transition-colors hover:border-kra-blue-300"
   href="<%= relative_url "/eu-acquis/#{chapter.slug}"%>">
     <div class="pb-3 text-sm uppercase">
       Chapter <%= chapter.chapter_number %>
     </div>
     <div class="text-lg font-bold leading-tight font-display">
        <%= chapter.title %>
     </div>
</a>
