<a class="flex flex-col pt-2 pb-6 border-t-2 border-t-3 border-kra-darkblue-lighter text-kra-darkblue-lighter hover:text-kra-darkblue"
   href="<%= relative_url "/eu-acquis/#{chapter.slug}"%>">
     <div class="pb-1 text-sm uppercase">
       Chapter <%= chapter.chapter_number %>
     </div>
     <div class="text-xl font-bold leading-tight font-display">
        <%= chapter.title %>
     </div>
</a>
