<div class="flex flex-cols flex-wrap gap-x-4 mx-auto justify-center">
  <% chapters.each_with_index do |chapter, index| %>
    <%= render Chapter.new(resource: chapter, options: {index: index}) %>
  <% end %>
</div>
