<div>
  <% clusters.each do |cluster| %>
    <div>
      <div class="text-2xl text-kra-blue font-bold mb-4 text-center">
        <%= cluster.title %>
      </div>

    <%= render Chapters.new(
      resource: nil,
      options: {
        chapters: cluster.eu_acquis_chapters
      }) %>
    </div>
  <% end %>
</div>
