<div class="divide-y kra-darkblue-lightest">
  <% clusters.each do |cluster| %>
    <div class="py-12 ">
      <div class="pb-8 text-xl lg:text-2xl font-bold text-center text-kra-blue font-display ">
        <%= cluster.title %>
      </div>

      <%= render Chapters.new(
        resource: nil,
        options: {
        chapters: cluster.eu_acquis_chapters
      }) %>
    </div>
  <% end %>
</div>
