<div class="text-4xl font-bold">
  <%= resource.title %>
  <hr class="mt-10 mb-6 border-none w-[68px] h-1 bg-kra-darkred"/>
</div>
<div class="prose text-kra-darkblue-lighter text-lg"><%= resource.content.html_safe %></div>
