<div class="text-4xl font-bold">
  <%= resource.title %>
  <hr class="m-0 mt-2 border-none w-[68px] h-2 bg-kra-darkred"/>
</div>
<div class="text-kra-darkblue-lighter text-xl" ><%= resource.content.html_safe %></div>
