<div class="flex flex-col gap-y-2 py-8 max-w-prose">
  <div class="aspect-[16/9] relative h-auto w-full rounded overflow-hidden">
    <iframe
      class="absolute top-0 left-0 w-full h-full"
      src="<%= resource.video %>"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      frameborder="0"
      allowfullscreen
      ></iframe>
  </div>
</div>
