<div class="flex flex-col gap-y-2 py-8 <%= align %> max-w-prose">
  <img src="<%= resource.image.url%>?fm=avif&auto=format&auto=compress" alt="<%= resource.caption.html_safe %>" class="mb-[2rem]"/>
  <div class="text-sm italic text-kra-darkblue-light -mt-[2rem]">
    <% if resource.caption %>
      <%= resource.caption %>
    <% end %>
  </div>
</div>
