<div class="flex flex-col gap-y-2 py-8 max-w-prose">
  <div class="aspect-[16/9] relative h-0 pb-fluid-video rounded overflow-hidden">
    <iframe
      class="absolute top-0 left-0 w-full h-full"
      src="<% resource.video %>?&background=1&modestbranding=1&showinfo=0&rel=0&iv_load_policy=3"
      frameborder="0"
      ></iframe>
  </div>
</div>
