<form name="form" class="m-auto grid grid-col-1 w-1/2 gap-4 pb-6 " netlify>
  <div>
    <label for="full_name" class="block text-sm font-medium text-gray-700">Full Name</label>
    <div class="mt-1">
      <input type="text"
             name="full_name"
             id="full_name"
             required
             class="block w-full rounded-md border-gray-300 shadow-sm
                    focus:border-kra-darkblue-lighter
                    focus:ring-kra-darkblue-lighter sm:text-sm"
             placeholder="">
    </div>
  </div>
  <div>
    <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
    <div class="mt-1">
      <input type="email"
             name="email"
             id="email"
             class="block w-full rounded-md border-gray-300 shadow-sm
                    focus:border-kra-darkblue-lighter focus:ring-kra-darkblue-lighter sm:text-sm"
             placeholder="you@example.com">
    </div>
  </div>
  <div>
    <label for="message" class="block text-sm font-medium text-gray-700">Add your message</label>
    <div class="mt-1">
      <textarea rows="4"
                name="message"
                id="message"
                class="block w-full rounded-md border-gray-300 shadow-sm
                       focus:border-kra-darkblue-lighter focus:ring-kra-darkblue-lighter
                       sm:text-sm">
      </textarea>
    </div>
  </div>
  <div class="pt-5">
    <div class="flex justify-center">
      <button type="submit" class="ml-3 inline-flex justify-center
                                   rounded-md border border-transparent
                                   bg-kra-blue py-2 px-4 text-sm
                                   font-medium text-white shadow-sm
                                   hover:bg-kra-blue-700
                                   focus:outline-none focus:ring-2
                                   focus:ring-kra-blue focus:ring-offset-2">
        Submit</button>
    </div>
  </div>

</form>
