<a class="text-xs rounded text-white bg-kra-blue px-3 py-1 items-center gap-x-2 flex hover:bg-kra-blue-700 transition-colors"
  href="<%= link %>">
  <%= svg "/images/download.svg", class: "h-4 w-4" %>
  <span><%= text %></span>
</a>
