<div class="border-b border-kra-darkblue-lightest flex justify-center space-x-10 text-2xl">
  <% tabs.each_with_index do |tab, index| %>
      <div data-active="<%= index %>"
           class="text-kra-darkblue-lighter
                  data-[active=0]:border-b-2 data-[active=0]:border-kra-text
                  data-[active=0]:text-kra-text">
      <%= tab.title %>
    </div>
  <% end %>
</div>

<% tabs.each do |tab| %>
  <div id="tab_<%=tab.title.downcase.underscore %>">
  <%= render component_from_dato(tab) %>
  </div>
<% end %>
