<div data-controller="tabbed-nav">
  <div class="
    border-b
    border-kra-darkblue-lightest

    mb-8
    flex
    justify-center
    overflow-x-auto

    space-x-4
    md:space-x-8
    lg:space-x-10

    text-sm
    md:text-lg
    lg:text-xl
    ">

    <% resource.tabs.each_with_index do |tab, index| %>
      <a
          data-active="<%= tab.active %>"
          href="<%= tab_link(tab) %>"
          class="p-4
                 text-kra-darkblue-lighter
                 hover:text-kra-darkblue-light
                 data-[active='true']:border-b-2
                 data-[active='true']:border-kra-text
                 data-[active='true']:text-kra-text">
                 <%= tab_title(tab) %>
      </a>
    <% end %>
  </div>

  <div class="m-auto w-1/2">
    <% [].each_with_index do |tab, index| %>
      <%= render component_from_dato(tab, options) %>
    <% end %>
  </div>
</div>
